alabaster==1.0.0
attrs==25.3.0
babel==2.17.0
black==25.1.0
build==1.2.2.post1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
docutils==0.21.2
idna==3.10
imagesize==1.4.1
immutabledict==4.2.1
importlab==0.8.1
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
libcst==1.8.0
MarkupSafe==3.0.2
msgspec==0.19.0
mypy==1.15.0
mypy_extensions==1.1.0
networkx==3.4.2
ninja==1.11.1.4
numpy==2.2.6
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
polars==1.30.0
-e git+ssh://git@github.com/ItsMartinTomes/proxiflow.git@e431970364cb5667b5fc57dd385ed6bcda476b8e#egg=proxiflow
pyaml==25.1.0
pycnite==2024.7.31
pydot==4.0.0
Pygments==2.19.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
pytest==8.3.5
pytype==2024.10.11
PyYAML==6.0.2
PyYAML-ft==7.0.1
requests==2.32.3
roman-numerals-py==3.1.0
ruff==0.11.11
scikit-learn==1.6.1
scipy==1.15.3
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tabulate==0.9.0
threadpoolctl==3.6.0
toml==0.10.2
typing_extensions==4.13.2
urllib3==2.4.0
